<div class="container">
  <div id="calendar"></div>
  <p><%= link_to 'Reserva', new_reservation_path(@cabin), :class => 'btn btn-info'  %></p>


  <script >
      $(document).ready(function () {
          $("#calendar").fullCalendar({
                events: "/cabins/<%="#{@cabin.id}"%>.json"
          });
      });
  </script>
</div>
