<div class="container">
<table>
  <thead>
  <tr>
    <th>tipo</th>
    <th>description</th>
    
  </tr>
  </thead>
  <tbody>
  <%@reservations.each do |reservation| %>
    <tr>
      <td><%= reservation.start_date %></td>
      <td><%= reservation.end_date %>

    </tr>
  <% end %>
  </br>
  <div id="calendar"></div>

  </tbody>
</table>
</br>
</div>